.markdown-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.7;
  font-size: 0.92rem;
}

.markdown-body h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #6b21a8;
  margin-bottom: 0.5rem;
}

.markdown-body h2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #3b1c57;
  margin-bottom: 0.5rem;
  /* text-decoration: underline; */
}

.markdown-body p {
  margin: 0.5rem 0;
}

.markdown-body a {
  color: #850df5;
  text-decoration: underline;
}

.markdown-body ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

.markdown-body ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
}

.markdown-body code {
  /* background-color: #f3e8ff; */
  color: #240e38;
  /* color: black; */
  font-family: monospace;
  font-size: 0.875rem;
  /* padding: 0.15rem 0.4rem; */
  border-radius: 0.25rem;
}

.markdown-body pre {
  background-color: #f9f6ff;
  border-radius: 0.4rem;
  padding: 0.8rem;
  margin: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: visible;
  font-size: 0.9rem;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(173, 148, 231, 0.4);
  color: #5b3e96;
  font-family: "Fira Code", monospace, monospace;
  font-weight: 500;
}

.markdown-body blockquote {
  border-left: 4px solid #c084fc;
  background-color: #faf5ff;
  padding: 0.5rem 1rem;
  margin: 0.75rem 0;
  color: #6b21a8;
  font-style: italic;
}
